
{% extends 'wrapper.html' %}


{% block content %}

    <ul>
        <form action="/auction", method="POST">
            <li><h2>{{item.title}}</h2></li>
            <p>Auction Start: {{item.start}}</p>
            <p>Auction Stop: {{item.stop}}</p>
            <p>seller: <a href="./seller?id={{item.owner.id}}"> {{item.owner.username}}</a></p>
            <p><input type="text" name="bid_amount"></p>
            <p><input type="submit" value="Place a bid"></p>
            <input type="hidden" name="item_id" value="{{item.id}}" />
        </form>
    </ul>

{% endblock %}