
{% extends 'wrapper.html' %}


{% block content %}

    <ul>
        <form action="/auction", method="POST">
            <li><h2>{{auction.title}}</h2></li>
            <p>{{auction.item}}</p>
            <p>Auction Start: {{auction.start}}</p>
            <p>Auction Stop: {{auction.stop}}</p>
            <p>seller: <a href="./seller?id={{auction.owner}}"> {{auction.owner}}</a></p>
            <p><input type="text" name="bid_amount"></p>
            <p><input type="submit" value="Place a bid"></p>
            <input type="hidden" name="auction-id" value="{{auction.id}}" />
        </form>
    </ul>

{% endblock %}